@model List<SistemaIntegralQuejas.Controllers.ExpedienteController.CedulaBitacoraCambios>

@{
    Layout = null;
}
<style>
    * {
        font-family: Arial;
    }

    .cedula-left {
        margin-left: 15%;
        width: 42%;
        float: left;
    }

    .cedula-right {
        width: 42%;
        float: left;
    }

    .cedula-completo {
        width: 100%;
        text-align: center;
        margin-bottom: 0px;
        float: left;
        margin-top: 0px;
    }

    .cedula-completo1 {
        width: 100%;
        text-align: center;
        margin-bottom: 0px;
        float: left
    }

    .linea {
        width: 100%;
        height: 2px;
        background-color: gray;
        float: left
    }

    .img-responsive {
        width: 25px;
        height: 30px;
    }

    .titulos {
        font-size: 15px;
    }

    .titulodoc {
        font-size: 20px;
    }

    .titulodocsec {
        font-size: 20px;
    }

    .cedula-completo table {
        width: 100%;
        margin-top: 0px;
    }

    .cedula-completo1 table {
        width: 100%;
    }


    .cedula-completo1 > th, td {
        vertical-align: top;
        text-align: center;
        /*width: 30%;*/
    }

    .cedula-completo > td {
        text-align: left;
        margin-top: 0px;
        padding-top: 0px;
        width: 30%;
    }

    .cedula-completo > th {
        margin-top: 0px;
        padding-top: 0px;
        width: 30%;
    }

    .cedula-completo-izquierda {
        margin-top: 15px;
        float: left;
        width: 100%;
    }

        .cedula-completo-izquierda p {
            font-style: normal;
            font-weight: 100;
            font-size: 18px;
        }

    .cedula-left p {
        font-style: normal;
        font-weight: 100;
        font-size: 15px;
        line-height: 1.0;
        margin-top: 0;
        margin-bottom: 10px;
    }

    .cedula-right p {
        font-style: normal;
        font-weight: 100;
        font-size: 15px;
        line-height: 1.0;
        margin-top: 0;
        margin-bottom: 10px;
    }

    .datosfinales {
        margin-top: 100px;
        text-align: center;
        float: left;
        width: 100%;
    }

        .datosfinales .left {
            text-align: center;
            float: left;
            width: 50%;
            text-transform: uppercase;
        }

        .datosfinales .rigth {
            text-align: center;
            float: left;
            width: 50%;
            text-transform: uppercase;
        }

    h5 {
        margin-top: 0;
        margin-bottom: 8px;
    }

        h5 P {
            line-height: 1.0;
            margin-top: 0;
            margin-bottom: 10px;
        }


    .NOEXP {
        text-align: center;
        margin-bottom: 15px;
    }

    .Fecha_Imp {
        text-align: right;
    }

    .pequenio {
        width: 12.5%;
    }

    .grande {
        width: 100% !important;
    }
</style>

<body>
    @foreach (var itemp in Model)
    {
        <div class="container receipt-wrap" id="receipt-wrap">
            <div class="row rowpapa">
                <div class="receipt-main col-xs-12 col-sm-12 col-md-12">
                    <div class="row">
                        <div class="col-xs-2 col-sm-2 col-md-2">
                            <div class="receipt-left">
                            </div>
                        </div>
                        <div class="cedula-completo">
                            <h5 class="Fecha_Imp"><b>Fecha de impresión: <br>@itemp.FechaHoraImpr</b></h5>
                            <br><h5 class="titulodoc">BITÁCORA DE CAMBIOS</h5>
                            <div class="linea"></div>
                        </div>

                        <h5 class="NOEXP titulos"><b></b>ID: @itemp.id_queja</h5>
                        <div class="cedula-left">
                            @* <h5 class="FOR titulos"><b>FECHA Y HORA DE REGISTRO:</b><p>@itemp.fecha_Hora_registro</p></h5> *@
                        </div>
                        <div class="cedula-right">
                            @* <h5 class="FOR titulos"><b>FECHA TURNO ELECTRÓNICO A VISITADURÍA:</b><p>@itemp.fecha_Hora_turnoe   </p></h5> *@
                        </div>

                        <div class="cedula-completo1">
                            <h5 class="titulodocsec">MOVIMIENTOS REALIZADOS</h5>
                            <div class="linea"></div>
                            <table>
                                <thead>
                                    <tr>
                                        <th>APARTADO</th>
                                        <th>MOV.</th>
                                        <th>CAMPO</th>
                                        <th>ANTES</th>
                                        <th>DESPÚES</th>
                                        <th>FECHA Y HORA</th>
                                        <th>USUARIO</th>
                                        <th>IP</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var itemuser in @itemp.biracambios)
                                    {
                                        if ( (itemuser.Campo == "Circunstancias Hechos") || (itemuser.Campo == "Hechos") )
                                        {
                                            if ((itemuser.Despues != null)) {
                                                <tr>
                                                    <td class="pequenio">@itemuser.Apartado</td>
                                                    <td class="pequenio">@itemuser.Tipo</td>
                                                    <td class="pequenio">@itemuser.Campo</td>
                                                    <td class="pequenio">@itemuser.Antes</td>
                                                    <td class="pequenio">Consultar Anexo Hechos</td>
                                                    <td class="grande">@itemuser.FechaHora</td>
                                                    <td class="pequenio">@itemuser.Usuario</td>
                                                    <td class="pequenio">@itemuser.IP</td>
                                                </tr>
                                            } else
                                            {

                                                <tr>
                                                    <td class="pequenio">@itemuser.Apartado</td>
                                                    <td class="pequenio">@itemuser.Tipo</td>
                                                    <td class="pequenio">@itemuser.Campo</td>
                                                    <td class="pequenio">@itemuser.Antes</td>
                                                    <td class="pequenio">Sin información Registrada</td>
                                                    <td class="grande">@itemuser.FechaHora</td>
                                                    <td class="pequenio">@itemuser.Usuario</td>
                                                    <td class="pequenio">@itemuser.IP</td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td class="pequenio">@itemuser.Apartado</td>
                                                <td class="pequenio">@itemuser.Tipo</td>
                                                <td class="pequenio">@itemuser.Campo</td>
                                                <td class="pequenio">@itemuser.Antes</td>
                                                <td class="pequenio">@itemuser.Despues</td>
                                                <td class="grande">@itemuser.FechaHora</td>
                                                <td class="pequenio">@itemuser.Usuario</td>
                                                <td class="pequenio">@itemuser.IP</td>
                                            </tr>
                                        }


                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            @* <div class="datosfinales">
                <div class="left">
                    <p>@itemp.abogado</p>
                    <p><b>VISITADOR/A ADJUNTO/A</b></p>

                </div>
                <div class="rigth">
                    <p>@itemp.visitador</p>
                    <p><b>@itemp.visitaduría</b></p>
                </div>
            </div> *@
        </div>
    }
</body>
